@{
    var nameSurname = ViewData["NameSurname"] as List<User>;
    var name = ViewData["Name"] as List<User>;
    var surname = ViewData["Surname"] as List<User>;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<List<User>> arrayList = new List<List<User>> { nameSurname, name, surname };
    var sessionUserID = ViewData["SessionUserId"] as Int32?;
}



<div class="row ">

    <div class="container p-3">

        <table class="table table-bordered table-striped" style="width:100%">
            
            <tbody>
                @foreach (var usrList in arrayList)
                {
                    @foreach (var usr in usrList)
                    {
                        <div class="column" style="width:80%">
                            @if (usr.ProfilePicture == null)
                            {
                                <img src="https://static.thenounproject.com/png/2518416-200.png" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                                <a asp-controller="User" asp-action="ViewProfile" asp-route-id="@usr.UserId"
                           class="dropdown-item mx-2 w-75"> @usr.Name</a>
                            }
                            else
                            {
                                <a asp-controller="User" asp-action="ViewProfile" asp-route-id="@usr.UserId" class="dropdown-item mx-2 w-75" style="width:75%; padding:0px; margin:0px;">
                                    <img src="~/profilePictures/@usr.ProfilePicture" class="rounded-circle" width="60" asp-append-version="true" />
                                    <span style="margin-left:5px; font-size:26px; text-shadow: 1px 1px black;"> @usr.Name</span>

                                </a>
                            }

                        </div>














                       
                        <div class="card border p-3 mt-4  custom-shadow1" style="width:50%; margin:auto">
                                
                                <div style="width:25%; height: 100px; float: left; background: green;">
                                @if (usr.ProfilePicturePath == null)
                                {
                                    <img src="https://static.thenounproject.com/png/2518416-200.png" class="rounded-circle" height="100%" width="100%" asp-append-version="true" />
                                }
                                else
                                {
                                    <img src="~/profilePictures/@usr.ProfilePicturePath" class="rounded-circle" height="100%" width="100%" asp-append-version="true" /> 
                                }
                                </div>

                                <div style="height:100px; width:30%; margin-left:30%; background-color:#F000FF;">
                                    <p> @usr.Name @usr.Surname</p>
                                    <p> @usr.Title</p>
                                    <p> @usr.Location</p>
                                </div>

                                <div id="wrapperDiv" style="height:100px; width:20%;margin-left:80%; background-color:#00F0FF;">
                                     <div id="div3" style="padding:5px;;float:right;color:#ffffff"> <a  asp-controller="User" asp-action="ViewProfile" asp-route-id="@usr.UserId"><i class="bi bi-chat-right-text"></i>View Profile</a> </div>
                                     <div id="div2" style="padding:5px;float:right;color:#ffffff"> <a href=#> <i class="bi bi-share"></i></a></div>
               
                                </div>
                                
                                
                            </div>
                    }

                }
            </tbody>

        </table>
    </div>
</div>