@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<LinkedHU_CENG.Models.ViewModels.PostCommentViewModel>

@{
    var sessionUserID = ViewData["SessionUserId"] as Int32?;
}



<table class="table table-striped" style="width:100%; background-color:#ffffff;">


    @foreach (var obj in Model.OrderByDescending(a => a.post.PostId))
    {

        @if (sessionUserID == obj.post.UserId)
        {
            <div class="container" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                <div class="">

                    <div id="wrapperDiv">
                        <div id="div2" style="padding:20px;float:right;color:#ffffff">
                            <button onclick="copyText()"> <i class="bi bi-share"></i></button>
                            <script>
                                function copyText() {
                                    navigator.clipboard.writeText
                                        ("https://localhost:7263/Post/ViewPost/" + @obj.post.PostId );
                                }
                            </script>
                        </div>
                        <div id="div2" style="padding:5px;float:right;color:#ffffff">
                            <div class="dropdown text-end">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" style="text-decoration: none;">Edit</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a style=" color:rgb(39, 55, 76);"  asp-controller="Post" asp-action="Update" asp-route-id="@obj.post.PostId"
                               class="dropdown-item mx-2 w-75"> <i class="bi bi-pencil-square"></i> Update</a>

                                    <a style=" color:rgb(39, 55, 76);"  asp-controller="Post" asp-action="Delete" asp-route-id="@obj.post.PostId"
                               class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Delete</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    @if (obj.post.UserProfilePicture == null)
                    {
                        <img src="https://static.thenounproject.com/png/2518416-200.png" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                        <a asp-controller="User" asp-action="ViewProfile" asp-route-id="@obj.post.UserId"
               class="dropdown-item mx-2 w-75">  <span style="margin-left:5px; font-size:18px; color:rgb(39, 55, 76);"> @obj.post.UserName</span></a>
                    }
                    else
                    {
                        <img src="~/profilePictures/@obj.post.UserProfilePicture" class="rounded-circle" height="40" width="40" asp-append-version="true" />
                        <a asp-controller="User" asp-action="ViewProfile" asp-route-id="@obj.post.UserId"
               class="dropdown-item mx-2 w-75">  <span style="margin-left:5px; font-size:18px; color:rgb(39, 55, 76);"> @obj.post.UserName</span></a>
                    }
                    @*<h5>@obj.post.UserName</h5>*@
                    <span style="margin-left:5px; font-size:12px; color:rgb(39, 55, 76, 0.7);"> @obj.post.CreatedAt</span>

                    <br />
                    <span style="margin-left:5px; font-size:18px; color:rgb(39, 55, 76);"> @obj.post.Content</span>
                    <br />
                    @if (obj.post.PostImagePath != null)
                    {
                        <img src="~/postUploads/@obj.post.PostImagePath" class="col-sm-10 center" asp-append-version="true" width="300" height=auto />
                    }
                    @if (obj.post.PostVideoPath != null)
                    {
                        <video width="320" height="240" controls="controls">
                            <source src="~/postUploads/@obj.post.PostVideoPath" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    }
                    @if (obj.post.PostPdfPath != null)
                    {
                        <embed src="~/postUploads/@obj.post.PostPdfPath" height="500px" width="100%" />
                        <a href="~/postUploads/@obj.post.PostPdfPath">See & Download</a>
                    }
                    <br />
                    <div>
                        @{
                            bool takeAll = false;
                        }
                        @await Component.InvokeAsync("CommentViewComponent", new {obj.postId, takeAll})
                        <a asp-controller="Post" asp-action="ViewPost" asp-route-id="@obj.postId"> Click here to see more comments.</a>
                        <br /><br />

                    </div>
                </div>

            </div>
            <br />


        }

    }

</table>
</div>