@model LinkedHU_CENG.Models.ViewModels.AdvertisementViewModel;

<form asp-controller="Application" asp-action="CreateApplication" asp-route-id="@Model.Advertisement.UserId"  method="post" enctype="multipart/form-data">
    
    @Html.HiddenFor(model => model.AdvertisementId)
    <div class="border p-3 mt-4 custom-margin1 custom-shadow1">
        <div class="mb-3 ">
            <h3 class="text-primary">Apply to @Model.Advertisement.Title at @Model.Advertisement.Company</h3>
        </div>
        @if (Model.Advertisement.IsResume == true) {
            <div class="form-group">
                <label asp-for="@Model.Application.Resume" class="control-label" ></label>
                <div class="custom-file">
                    <input asp-for="@Model.Application.Resume" type="file" accept=".pdf"/>
                </div>
                <span asp-validation-for="@Model.Application.Resume" class="text-danger"></span>
            </div>
        }
        <div align="center" class="form-group" style="" width:400px; margin:0 auto;">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit Application</button>
        </div>
    </div>
</form>
