@model List<LinkedHU_CENG.Models.ViewModels.AdvertisementViewModel>

@{
    var applications = ViewData["Application"] as List<Application>;
    var sessionUserID = ViewData["SessionUserId"] as Int32?;
}

<center>
<div class="col-sm-6 mb-3">
    <div class="card h-100">
        <div class="card-body">
            <h4 align="center" ; class="align-items-center mb-3"><b>My Applications</b></h4>
                
                @foreach (var obj in applications.OrderByDescending(a => a.ApplicationId))
                {
                    <div class="card border p-3 mt-4  custom-shadow1">
                        <div class="custom-margin1">
                            <h5>@obj.Company</h5> 
                            <h6>@obj.AdvertisementTitle</h6>
                            <h6><bold>Application ID:</bold> @obj.ApplicationId <bold> - Application Date:</bold> @obj.CreatedAt</h6>
                            <center><input type="button" value="View Application" onclick="@("window.location.href='" + @Url.Action("ViewApplication", "Application",  obj) + "'");" /></center>
                        </div>
                    </div>
                    <br/>
                }

        </div>
    </div>
</div>
</center>