@model IEnumerable<LinkedHU_CENG.Models.Post>

@{
    var sessionUserID = ViewData["SessionUserId"] as Int32?;
}

<div class="container p-3">
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">


        @foreach (var obj in Model.OrderByDescending(a => a.PostId))
        {

            <div class="card border p-3 mt-4  custom-shadow1">
                <div class="custom-margin1">
                    <div class="text-end">
                        <div id="wrapperDiv">
                            <div id="div3" style="padding:5px;;float:right;color:#ffffff"> <a href=#><i class="bi bi-chat-right-text"></i></a> </div>
                            <div id="div2" style="padding:5px;float:right;color:#ffffff">
                                <button onclick="copyText()"> <i class="bi bi-share"></i></button>
                                <script>
                                    function copyText() {
                                        navigator.clipboard.writeText
                                            ("https://localhost:7263/Post/ViewPost/" + @obj.PostId );
                                    }
                                </script>
                            </div>

                            @if (sessionUserID == obj.UserId)
                            {
                                <div id="div1" style="padding:5px;float:right;color:#ffffff">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle my-2 my-sm-0" href="#" role="button" data-bs-toggle="dropdown">Edit</a>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a asp-controller="Post" asp-action="Update" asp-route-id="@obj.PostId"
                                       class="dropdown-item mx-2 w-75"> <i class="bi bi-pencil-square"></i> Update</a>

                                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@obj.PostId"
                                       class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Delete</a>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (obj.UserProfilePicture == null)
                    {
                        <img src="https://static.thenounproject.com/png/2518416-200.png" class="rounded-circle" height="40" width="40" asp-append-version="true" /> @obj.UserName
                    }
                    else
                    {
                        <img src="~/profilePictures/@obj.UserProfilePicture" class="rounded-circle" height="40" width="40" asp-append-version="true" /> @obj.UserName
                    }
                    @*<h5>@obj.UserName</h5>*@
                    <br /> <br />
                    <small class="text-muted"> @obj.CreatedAt</small>
                    <br /> <br />
                    <h6>@obj.Content</h6>
                    @if (obj.PostImagePath != null)
                    {
                        <img src="~/postUploads/@obj.PostImagePath" class="col-sm-10 center" asp-append-version="true" width="300" height=auto />
                    }
                    @if (obj.PostVideoPath != null)
                    {
                        <video width="320" height="240" class="center" controls="controls">
                            <source src="~/postUploads/@obj.PostVideoPath" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    }
                    @if (obj.PostPdfPath != null)
                    {
                        <embed src="~/postUploads/@obj.PostPdfPath" height="500px" width="100%" class="responsive" />
                        <a href="~/postUploads/@obj.PostPdfPath">See & Download</a>
                        @*<p>See & Download <a href="~/postUploads/@obj.PostPdfPath">@obj.PostPdfPath</a> here!</p>*@
                    }
                </div>
            </div>
            <br />
        }
    </table>
</div>