@{
    var userModel = ViewData["users"] as List<User>;
    var banModel = ViewData["bannedUsers"] as List<BannedUser>;

}



<div class="row ">

    <div class="container p-3">

        <form asp-controller="Administrator" asp-action="BannedUserSearch">
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="SearchName" value="John"><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="SearchSurname" value="Doe"><br><br>
            <input type="submit" value="Submit">
        </form>

        <br /><br />

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in userModel)
                {
                    <tr>
                        <td> @obj.Name </td>
                        <td> @obj.Surname </td>
                        <td> @obj.Email </td>

                        <td>
                            @{
                                bool bool_ban = true;

                                foreach (var ban in banModel)
                                {
                                    if (ban.UserId.Equals(obj.UserId))
                                    {
                                        bool_ban = false;
                                    }
                                }

                                if (bool_ban)
                                {
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Options</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a asp-controller="Administrator" asp-action="BannedUserAccept" asp-route-id="@obj.UserId"
                                   class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Ban User</a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Options</a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a asp-controller="Administrator" asp-action="BannedUserRevert" asp-route-id="@obj.UserId"
                                   class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Unbanned</a>
                                        </div>
                                    </div>

                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>


    <div class="container p-3">

        <br /><br />

        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Email
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in banModel)
                {
                    <tr>
                        <td> @obj.Name </td>
                        <td> @obj.Surname </td>
                        <td> @obj.Email </td>

                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Options</a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a asp-controller="Administrator" asp-action="BannedUserRevert" asp-route-id="@obj.UserId"
                                   class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Unbanned</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>