@{
    var requests = ViewData["ForgetPassword"] as List<ForgetPassword>;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container p-3">

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Email
                </th>
                    <th>Settings</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var obj in requests)
            {
                <tr>
                    <td> @obj.Name </td>
                    <td> @obj.Surname </td>
                    <td> @obj.Email </td>

                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Options</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a asp-controller="Administrator" asp-action="ForgetPasswordAccept" asp-route-id="@obj.ID"
                               class="dropdown-item mx-2 w-75"> <i class="bi bi-person-check"></i> Verify</a>
                                <a asp-controller="Administrator" asp-action="DeleteForgetPasswordRequest" asp-route-id="@obj.ID"
                               class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>